body { background-color: #Feffca; }
.current {
  color: blue;
  text-align: left;
  font-size: 20px;
}
.paragraph {
  color: blue;
  font-size: 20px;
  width: 40%;
  background-color: yellow;
}
#mylogo {
  width: 500px;
  height: 200px;
}
